@import "tailwindcss";

@theme hoyo {
    --color-hoyo-bg: #0c0f16;
    --color-hoyo-card: #1c1f2e;
    --color-hoyo-accent: #4cc2ff;
    --color-hoyo-hsr: #cfba6f;
    --color-hoyo-zzz: #ff4c4c;
    --color-hoyo-genshin: #eae4d9;
}
